body {
    background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url(img.svg);
    background-size: cover;
    background-position: center;
}

.box {
    max-width: 500px;
    float: none;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.803);
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list {
    float: none;
    margin: 5px;
    background: rgba(255, 255, 255, 0.803);
    padding: 10px;
    border-radius: 5px;
    min-width: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tbl {
    float: none;
    margin: 50px auto;
    background: rgb(255, 255, 255);
    padding: 50px;
}

.logout-button {
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 5px;
    left: 100%;
}

.table-bordered {
    background-color: azure;
    text-align: center;
    border-radius: 5px;
    min-width: max-content;
}

.attendanceTakeTable {
    background-color: azure;
    margin: 20px;
    padding: 20px;
    max-width: 500px;
}

.btn-group {
    margin: 5px;
}

.photo_profile {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.minibox {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(240, 255, 255, 0.642);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img {
    border-radius: 10px;
}

.tableBox {
    min-width: max-content;
}

.table-wrapper {
    max-height: 500px;
    overflow-y: scroll;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.outer-wrapper {
    float: none;
    margin: 5px;
    background: rgba(255, 255, 255, 0.803);
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 5px black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
}

.profilePic {
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info {
    border-radius: 10px;
    background-color: rgba(248, 248, 248, 0.551);
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

table {
    border-radius: 5px;
}

.bg-danger {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bg-success {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}